page-home {

    $font_color: white;

    #resultado .textoLabel{
        font-weight: bold;
        color: $font_color;
    }
    
    #resultado{
        padding: 10px 2px 10px 2px;
        border: 1px white solid;
        font-size: 18px;
        color: $font_color;
    }

    #resultado h3{
        padding:5px;
        background-color: #5E8AAF;
    }

    .itens{
        background: rgba(0, 0, 0, 0); //deixa transparente
    }
    
    .itemSelect{
        margin-left:-10px;
        background: rgba(0, 0, 0, 0); //deixa transparente
    }

    
}
