<ion-header>
    <custom-header title="Calculadora Solar"></custom-header>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Estados</ion-label>
      <ion-select [(ngModel)]="estadoSelecionado" (ionChange)="carregaCidades();" cancelText="Cancelar" okText="OK">
        <ion-option *ngFor="let estado of estados | async" value="{{estado.$key}}">{{estado.nome}}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Cidades</ion-label>
      <ion-select [(ngModel)]="cidadeSelecionada" (ionChange)="mudaCidadeSelecionada()" cancelText="Cancelar" okText="OK">
        <ion-option *ngFor="let cidade of cidades | async" value="{{cidade.$key}}">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <table style="width:100%">
      <tr>
        <td style="width:98%">
          <ion-item>
            <ion-label floating>Média KWh/mês</ion-label>
            <ion-input type="number" maxlength="10" #mediaKw>
            </ion-input>
          </ion-item>
        </td>
        <td>
          <ion-icon class="icon-bigger" float-right ios="ios-information-circle" md="md-information-circle" (click)="ajudaMediaKw()"></ion-icon>
        </td>
      </tr>
      <tr>
        <td style="width:98%">
          <ion-item>
            <ion-label floating>Valor tarifa</ion-label>
            <ion-input type="number" #valorTarifa></ion-input>
          </ion-item>
        </td>
        <td>
          <ion-icon class="icon-bigger" float-right ios="ios-information-circle" md="md-information-circle" (click)="ajudaValorTarifa()"></ion-icon>
        </td>
    </tr>
    <tr>
        <td style="width:98%">
          <ion-item>
            <ion-label floating>Valor tarifa excedente</ion-label>
            <ion-input type="number" maxlength="10" #valorTarifaExcedente></ion-input>
          </ion-item>
        </td>
        <td>
          <ion-icon class="icon-bigger" float-right ios="ios-information-circle" md="md-information-circle" (click)="ajudaValorTarifaExcedente()"></ion-icon>
        </td>
    </tr>
  </table>
<br>
    <ion-item>
      <ion-label>Tipo da rede</ion-label>
      <ion-select [(ngModel)]="tipoRede" cancelText="Cancelar" okText="OK">
        <ion-option value="monofasico">Monofasico</ion-option>
        <ion-option value="trifasico">Trifasico</ion-option>
        <ion-option value="bifasico">Bifasico</ion-option>
      </ion-select>
    </ion-item>
<br>
<button ion-button block icon-left (click)="Calcula(mediaKw.value, valorTarifa.value, valorTarifaExcedente.value, tipoRede)">
    <ion-icon class="icon-bigger" name="calculator"></ion-icon>
  Calcular
</button>
</ion-list>

<div>
  <!-- Feito isso pq estava ficando carregando eternamente o loading do carregar valor kit se nao tivesse uma chamada
  pra ele na tela. Não sei ainda o pq isso acontece! -->
    <ion-item style="visibility: hidden;" *ngFor="let kit of valorKit | async">
      <ion-label>{{kit.nome}}</ion-label>
    </ion-item>
  </div>
</ion-content>
