custom-header {
    .logo {
        float: right;
        height: 50px;
    }
    
    .title {
        text-align: center;
        font-family: kenyan_coffe_rg;
    }
    
    .title span {
        letter-spacing: 2px;
        font-size: 34px;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translateX(-50%) translateY(-50%);
    }

    .testeNav{
        width:98%;
        margin-top:-3.5px;
    }
}
